.headImg{
  height: 50px;
  width: 25;
}

.PhenomenaHead{
  color: rgb(95, 255, 47) !important;
  letter-spacing: 2px;
  font-family: "Friday13";
}


.img-thumbnail{background-color:transparent}

.active{
  color: rgb(95, 255, 47) !important;
}
