.headImg{
  height: 50px;
  width: 25;
  margin-right: 5%;
}

.PhenomenaHead{
  color: green !important;
  letter-spacing: 2px;
}


.img-thumbnail{background-color:transparent}

.fa-flask:hover{
  color: rebeccapurple;
}
.fa-flask{
  color: rgb(131, 1, 66);
}
.fa-book{
  color:  orange;
}
.fa-barcode:hover{
  color: darkgoldenrod;
}
.fa-money{
  color: gold;
}
.fa-home{
  color: green;
}
