
            <div class="card text-white bg-dark" >
              <div class="card-body" >
              <h5 class="card-title Friday13">Phenomena News</h5>
                <p class="card-text DKSpaghettiAndCheese" *ngFor="let Pins of this.homePins">{{Pins.text}}</p>
                  <button class="btn btn-outline-light DKSpaghettiAndCheese" type="submit"><i class="fa fa-money" style="color: green" aria-hidden="true"></i>  Nova Venda</button>
                  <button class="btn btn-outline-light DKSpaghettiAndCheese" type="submit"><i class="fa fa-flask" style="color: rebeccapurple"  aria-hidden="true"></i>  Nova Produçao</button>
                  <button class="btn btn-outline-light DKSpaghettiAndCheese" type="submit"><i class="fa fa-money" style="color: red" aria-hidden="true"></i>  Novo Debito</button>
                </div>
            </div>