<div class="card" >
  <button class="btn btn-outline-light btn-float" type="button" aria-pressed="false" data-toggle="modal" data-target="#home" aria-expanded="" aria-controls=""><i class="fas fa-plus"></i></button>
  <div class="card-body">
    <h5 class="card-title Friday13">Phenomena News</h5>
    <p class="card-text DKSpaghettiAndCheese" *ngFor="let Pins of this.homePins">{{Pins.text}}</p>
  </div>
</div>
<!-- modal --> 
<div class="modal fade" id="home" tabindex="-1" role="dialog" aria-labelledby="home" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Home
      </div>
      <div class="modal-body">
        <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="First group">
            <button class="btn mx-5 btn-outline-light" type="button" aria-pressed="true">
            <i class="fas fa-monero" aria-hidden="true"></i>
            Nova Venda
            </button>
          </div>
          <div class="btn-group" role="group" aria-label="Second group">
            <button class="btn mx-5 btn-outline-light" type="button" aria-pressed="false">
            <i class="fa fa-money-bill-wave-alt" aria-hidden="true"></i>
            Novo Debito
            </button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button class="btn mx-5 btn-outline-light" type="button" aria-pressed="true" routerLink="procucao">
            <i class="fa fa-barcode" aria-hidden="true"></i>
            Nova Produção
            </button>
          </div>
          <div class="btn-group" role="group" aria-label="Forth group">
            <button class="btn mx-5 btn-outline-light" type="button" aria-pressed="true">
            <i class="fa fa-money" aria-hidden="true"></i>
            Nova
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
